[submodule "thirdparty/PoseLib"]
    path = thirdparty/PoseLib
    url = https://github.com/PoseLib/PoseLib.git
[submodule "thirdparty/colmap"]
    path = thirdparty/colmap
    url = https://github.com/colmap/colmap.git
